.vscode/**
.vscode-test/**
.env
.env.*
!.env.example
src/**
webview/**
node_modules/**
!node_modules/sql.js/dist/**
!node_modules/sql.js/package.json
.gitignore
tsconfig.json
releases/**
**/*.map
**/*.ts
!dist/**
!webview/dist/**
